.address__list{
  display: inline-block;
  margin-bottom: 60px;
}
.address__item{
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;

  transition: color 250ms var(--cubic);
  
  
  &:first-child{
    color: var(--background-primary-color);
  }
&:hover,
&:focus{
    text-decoration: none;
    color:var(--secondary-color);
  }

}

.address_link{
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;

  transition: color 250ms var(--cubic);

&:hover,
&:focus{
  text-decoration: none;
  color:var(--secondary-color);
}
}
