.social-site__wrap{

  @media  screen and (max-width: 767px) {
    padding: 60px 0;
  }
  
  @media  screen and (min-width: 768px) {
    margin-left: auto;
    padding-right: 89px;
    }
  @media  screen and (min-width: 1200px) {
    margin-left: 70px;
    margin-top: 72px;
    }
  }
  
  .social-link__list{
    display: inline-flex;
    @media  screen and (max-width: 767px) {
    margin: 0;
    }
  }
  
  .social-link__item{
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    @media  screen and (min-width: 1200px) {
      &:not(:first-child){
        margin-left: 10px;
      }
      }
    &:hover,
    &:focus{
      background-color: var(--secondary-color);
    }
  }
  

  .social-link__link{
    padding: 12px;
    color: var(--background-primary-color);
    fill: var(--background-primary-color);
    overflow: hidden;
  
    transition: background-color 250ms var(--cubic);

    &:hover,
    &:focus{
      background-color: var(--secondary-color);
      color: var(--background-primary-color);
      border-radius: 50%;
      fill: currentColor;
    }
  }
  
