:root{
  --primary-color:#212121;
  --secondary-color:#2196F3;
  --background-primary-color:#ffffff;
  --background-second-color: #2F303A;
  --accent-text-color:#757575;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}