.clients__list{
  display: inline-flex;
}

.clients__item{
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;

width: 170px;
height: 92px;

&:not(:first-child){
  margin-left: 30px;
}
}


.clients_link{
  color: #AFB1B8;
  padding: 13px 31px;
  margin: 0;
  border: 1px solid #AFB1B8;
border-radius: 4px;
transition: color 250ms var(--cubic), fill 250ms var(--cubic);
}

.clients_link:focus,
.clients_link:hover{
border: 1px solid #2196F3;
border-radius: 4px;
color: var(--secondary-color);
fill: var(--secondary-color);
}

.clients__icon{
  fill: currentColor;
}